body{
    background: rgb(36, 53, 63);
}
.system {
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
}
h2 {
    color: rgb(23, 162, 184);
}


.system p{
    font-size: 18px;
}
.system a{
    text-decoration: none;
}
.system a:hover{
text-decoration: underline;
}
